body {
  margin: 0 auto;
  overflow: hidden;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}
.outer {
  width: 100%;
}

.firstrow { 
  width: 100%; 
  display: flex;
   background-color: #FAFBFC; 
  flex-direction: row; 
  justify-content: space-between;
  font-size: .9rem;
  color: white;
  border-bottom: 1px solid #F2F4F5;
  box-shadow: 1px 1px 9px gray;
}
.logodiv{
  font-size: 2rem; 
  margin: 15px 30px;
  display: flex;
  align-items: center; 
  /* background-image: linear-gradient(#0183CA, #6AAB18); */
}
.snow{
  color:#0183CA;
 
}
.bird{
  color:#6AAB18;
}

 .logodiv  label{
  /* font-size: 1.8rem; */
  font-weight: 100;
  /* color:#C0D6DB; */
  font-style:italic;
}
.usericon {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 5px;
  font-size: 2rem;
  align-items: center; 
  margin-right: 10px;
  color: #6AAB18;
}
.usericon_label{
  
}
.popup{
  position: absolute;
  /* background-color: rgb(2, 1, 51); */
  margin-top: 80px; 
  padding-top: 5px;
  visibility: hidden;
  margin-left: -60px;
  transition: visibility .1s;
}
 
.usericon_icon:hover~.popup{
  visibility: inherit;
}
.popup:hover{
  visibility: inherit;
}
.popup label{ 
  padding: 10px 30px;
}
.popup label:hover{ 
  /* background-color:rgb(146, 243, 156); */
}
.usericon label{
  font-size: 1rem; 
}
.loginuser {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white; 
  background-color: white;
}

.firstcolumn {
  width: 15%;
 
  height: 100vh;
  background-color: #FAFBFC;
  border-right: 1px solid black;
  
  float: left;
  margin-top:10px;
}
 
.firstcolumn li {
  list-style: none;
  font-family:Arial, Helvetica, sans-serif;
  font-size: .9rem;
  
  padding: 7%;  
  padding-left: 30px;
  align-content: center;
  padding-top: 10%;

  color:black;
}
.firstcolumn li:hover {
 background-color: #E6EFFC;
  /* border-bottom: 1px solid blue; */
}


.menu_icon{
  margin-right: 10px;
  color:#62A7FF;
  font-size: 1.2rem;
}
.menu_iconcg
{
  margin-right: 10px;
  color:#62A7FF;
  font-size: 1.4rem;
  vertical-align: middle;
}

.secondcolumn {
  /* width: 80%;  */
  /* display: flex;  */
  /* margin-left:10%; */
}
.listcontainer{ 
/* width: 100%; */
}
 
.usernamerow{
  display: flex;
  width: 50%; 
  max-width: 50%;
  margin-left: 25%;
  /* overflow-x: scroll; */
}

.usernamerow::-webkit-scrollbar {
  height: 6px;
  border-radius: 1px;
  background-color: aqua;
}
.usernamerow::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #a3a3a3;
}
.taskbars{
  width: 100%;
  display: flex;
  /* margin-top: 15%; */
  text-align: left;
  padding:2%;
 justify-content:space-between;
   margin-left:1%; 
}
/* .taskbars div{
  min-width: 19%;
  margin-left:4%
  margin-left: -1%;
  border-right: 2%;
} */
.eachuser{
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.draggablep{
  background-color: rgb(2, 1, 51);
  color: white; 
  padding: 0;
  margin: 0;
  padding: 10px;
}
/* .firstrow label {
  color: gray;
  font-size: small;

} */
/* .loginuser label
{
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: center;
  color:gray;
  font-size:medium;

} */
.secondrow {
  width: 100%;
  display:flex;
}

.log_button button {
  width: 20%;
  padding: 1%;
  margin-left: 15%;
  font-weight: 700;
}
*/

/* .users label
{
    text-align: center;
    color: blue;
} */
.users {
  height: 3vh;
  width: 20px;
  border-radius: 25px;
  background-color: red;
  margin: 30%;
  padding: 10px;
  margin-top: 10px;
}
.logotext{   
  color: #6AAB18; 
}
/* .singleuser {
  overflow-x: scroll;
  padding-top: 10%;
  margin-right: 20%;
  
} */ 
.statusnamerow {
  width: 100%; 
  margin-top: 4%;
  float: left;
}
.taskbar1 {
  width: 25%;
  height: 40vh;
 float: left;
 margin-left: 1%;
  background-color:rgb(250,251,252);
  border-radius: 5px;
  
}
/* .taskbar1  label{
  font-size: medium;
  color:#5E6E8B;
}
.taskbar2  label{
  font-size: medium;
  color:#5E6E8B;
}
.taskbar3  label{
  font-size: medium;
  color:#5E6E8B;
}
.taskbar4  label{
  font-size: medium;
  color:#5E6E8B;
} */
.taskbar2 {
  width: 25%;
  height: 40vh;
  border-radius: 5px;
  background-color:rgb(250,251,252);
  float: left;
  margin-left: 1%;
  position: static;
}
.taskbar3 {
  width: 25%;
  height: 40vh;
  border-radius: 5px;
  float: left;
  margin-left: 1%;
  position: static;
  background-color: #F4F5F7;
}
.label_project 
{
  margin-top:80px;
  color:#666;
  /* padding-left: 30px; */
}
/* .label_project label{
  padding-left: 30px;
} */
.taskbar4 {
  width: 25%;
  height: 40vh;
  border-radius: 5px;
  float: left;
  margin-left: 1%;
  position: static;
  background-color: #F4F5F7;
}
.t1 {
  background-color: aquamarine;
  width: 20%;
  /* float: left; */
}
.t1 label {
  color: blueviolet;
  display: block;
}
.t2 {
  background-color: burlywood;
}
.t2 label {
  color: blue;
  display: block;
}
.tasks {
  width: 100%;
  height: 50vh;
  /* background-color: aqua; */
  padding-top: 5%;
  padding-left: 5%;
}
.statusnamerow label {
  margin-left: 14%;
} 

/* Project  Styling */

.prowone {
  width: 80%;
  height: 15vh;
  /* background-color: aquamarine; */
  /* border-bottom: 1px solid black; */
  border-left: 5%;
  padding-top: 5%;
}
.prowone label {
  color: slategrey;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  padding-left: 5%;
}
.prowone button {
  float: right;
  background-color: #b2b2b2;
  color: white;
  border: none;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 15%;
}
/* .tablerow table {
  background-color: aqua; 
  border-top: 1px solid gray;
  padding-left:2%;
  
} */

.tablerow {
  /* border-top: 1px solid gray; */
  width: 80%;
  overflow: hidden;
  overflow-y: scroll;
  height: 50vh;
}
/* .tablerow th {
  color: slategray;
  border-bottom: 1px solid gray;
  width: 20%;
  
} */
/* .tablerow td {
  color: slategray;
  width: 45%;
  border-bottom: 1px solid gray;
  padding: 4%;
} */
.tablerow tr {
  text-align: center;
}

.pbutton {
  text-align: right;
}
.pbutton button {
  border: none;
  background-color: white;
}
.psecondrow {
  width: 100%;
  height: 10vh;

  padding-left: 10%;
}
.titlerow {
  width: 100%;
  height: 10vh;
}
.titlerow input {
  width: 70%;
  height: 5vh;
}
.titlerow label {
  color: gray;
}
.descriptiion {
  width: 100%;
  height: 25vh;
}
.descriptiion {
  color: gray;
}
.descriptiion input {
  width: 70%;
  height: 20vh;
}
.typerow {
  width: 100%;

  height: 10vh;
}
.typerow select {
  width: 70%;
  height: 5vh;
}
.typerow label {
  color: gray;
}
.ownerrow {
  width: 100%;
  height: 10vh;
}
.ownerrow select {
  width: 70%;
  height: 5vh;
}
.ownerrow label {
  color: gray;
}
.ownerrow select {
  color: grey;
}
.typerow select {
  color: grey;
}
.tablerow thead.idth {
  width: 10%;
}
.tablerow.nameth {
  width: 20%;
}
/* .slider{
  width:30%;
  margin-left: 25%;
  height: 150px;
  overflow-x: scroll;
  display: flex;
  
} */
.project {
  background-color: white;
}
.epic {
  background-color: #d4cbcb;
}
.task {
  background-color: #eee6e6;
}
.withborder {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
.right {
  text-align: right;
}
.childbg {
  background-color: #ededed;
}
.parentbg {
  background-color: rgb(116, 116, 255);
}
.constant {
  width: 5%;
}
table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.constant {
  width: 10%;
}
.none {
  display: none;
}
.display {
  display: table-row;
  transition-property: all;
  transition-duration: 4s;
  transition-delay: 2s;
}

.secondcolumn .secfirstrow {
  width: 100%;
}

.secondcolumn .secsecondrow {
  width: 80%;
}
.secondcolumn .secthirdrow {
  width: 100%;
  margin-left: 10px;
  float: left;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
}
.secthirdrow table {
  width: 100%;
  text-align: left;
}

.secthirdrow th {
  text-align: left;
  background-color: lightgray;
}
*/ .secondcolumn .secsecondrow button {
  float: right;
  border: 1px;
  border-style: solid;
  border-color: black;
  margin-bottom: 60px;
  background-color: rgb(236, 203, 203);
}

.redcircle {
  background-color: rgba(229, 125, 125, 0.909);
  width: 40px;
  height: 40px;
  border-radius: 50%; 
}
.selectedredcircle {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
}

.listcontainer::-webkit-scrollbar {
  height: 6px;
  border-radius: 2px;
  background-color: #ededed;
}


.listcontainer::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #a3a3a3;
}
#fbox:checked + label {
  text-decoration: line-through;
}
#fbox .label {
  text-decoration: line-through;
}

#secbox:checked + label {
  text-decoration: line-through;
}
#thirdbox:checked + label {
  text-decoration: line-through;
}
#fourbox:checked + label {
  text-decoration: line-through;
}
.lab {
  padding-bottom: 10%;
}
.sprint {
  width: 20%;
  /* height:40vh; */
  float: left;
  margin-right: 0px;
  margin-left: 3%;
}
.sprint label {
  font-size: medium;
  font-weight: 100;
  color: gray;
  width: 5%;
}
.sprint #todo,
#inprogress,
#review,
#complete {
  background-color: lightgrey;
}

.sprint1 {
  width: 100%;
  height: 25vh;
  border: 1px solid black;
  float: left;
  margin-right: 10%;
}
.sprint_box {
  width: 100%;
  height: 30vh;
}
.task_row {
  width: 100%;
}
.task_row td {
  color: gray;
  font-weight: 100;
  font-size: medium;
  width: 100px;
  padding: 15px;
  /* border-bottom: 1px solid black;  */
}
.task_row table {
  text-align: center;
  table-layout: fixed;
  /* width: 80%; */
  border-bottom: 1px solid gray;
}
.task_row th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: gray;
  font-weight: 100;
  font-size: medium;
  width: 100px;
  padding: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 10px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: 0.2s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: blue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: lightgray;
}

input:focus + .slider {
  box-shadow: 0 0 1px lightgray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.togglerow {
  width: 5%;
  height: 5vh;
  padding-left: 70%;
  /* background-color: pink;  */
  /* padding-top: 4%; */
}
.togglerow label {
  padding-left: 85%;
  color: grey;
  padding-left: 60%;
  padding-top: 3%;
}
.toggle {
  padding-left: 60%;
  padding-top: 3%;
}
.report_rowone {
  padding-top: 3%;
  width: 100%;
  /* height:11vh; */
  /* background-color: aquamarine; */
}
.report_rowone select {
  /* padding-left: 10%; */
  margin-left: 10%;
  color: gray;
  border: 1px solid gray;
  width: 10%;
  height: 3vh;
}
.report_rowone label {
  padding-left: 10%;
}
.report_rowone input {
  margin-left: 10%;
  width: 20%;
  padding: 1%;
  margin-top: 1%;
}
.report_rowone button {
  margin-left: 5%;
  width: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border: white;
  background-color: #b2b2b2;
  color: white;
}
.report_secrow {
  width:130%;
  margin-top:2%;
  font-weight: bold;
  border-bottom:1px solid rgb(222, 218, 218);
  padding-left:3%;
  padding-bottom:1%;
  display: flex;
  box-shadow: 1px 1px 1px rgb(255, 250, 250);
}
.timesheet_icons
{
  margin-left:10%;
}
.report_secrow #FaDownload {
  float: left;
}
.icons {
  padding-left: 70%;
  color: gray;

  /* background-color: aqua; */
  width: 100%;
  /* height:5vh; */
}

.report_third {
  width: 100%;
}
.report_third table {
  margin-left: 10%;
  /* border:1px solid black; */
  border-bottom: 1px solid gray;
  /* border-top: 1px solid gray; */

  border-spacing: 50px 0;
  width: 80%;
}
.report_third th {
  /* border:1px solid black; */
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: gray;
  font-weight: 100;
  font-size: large;
  width: 50px;
}
.report_third .time {
  width: 150px;
}
.report_third td {
  color: gray;
  font-weight: 100;
  font-size: medium;
  /* padding: 10px 0; */
  /* padding-right:100px; */
  /* width: 20%; */
}
.fa_download {
  border: 1px solid black;
  width: 4%;
  padding-top: 6px;
  padding-bottom: 6px;
}
.dropdown {
  margin-top: 0rem;
}
.dropdown li {
  text-align: left;
  /* display:none;  */
  /* selectbackground-color: #e9d8d8; */
  /* display: block; */
}
.show {
  display: block;
}
.hide {
  display: none;
}
.TblFirstrow {
  width: 100%;
}
.tblId {
  width: 20%;
}
.tblusers {
  width: 20%;
}
.tblrole {
  width: 24%;
}
.tbdata {
  padding: 10px;
}
.Ttable {
  width: 60%;
}
.TBL {
  border: 1px;
}
.buttonright label {
  color: slategrey;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  padding-left: 5%;
  float: left;
}

.buttonright button {
  float: right;
  background-color: gray;
  color: white;
  border: none;
  height: 5vh;
  width: 10%;
  margin-right: 9%;
}
.seccolumsecondrow {
  padding-top: 5%;
  width: 100%;
  height: 100vh;

  margin-top: 5px;
}

.seccolumsecondrow th {
  width: 29%;
  border-top: 10px;
  border-bottom: 10px;
  text-align: center;
  padding: 20px;
}

.seccolumsecondrow td {
  width: 29%;
  border: none;
  text-align: center;
  padding: 10px;
}

.titleinput {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
  color: gray;
}
.titleinput input {
  width: 70%;
  height: 5vh;
}

.descriptioninput {
  width: 70%;
  margin-left: 12%;
  margin-right: 5%;
  height: 20vh;
  color: gray;
}

.assignuser {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.assignuser select {
  width: 70%;
  height: 5vh;
}
.assignuser label {
  color: gray;
}
.statusin {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.lb1 {
  float: left;
  color: gray;
  width: 35%;
}
.sprintinput {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.sprintinput select {
  width: 70%;
  height: 5vh;
}
.sprintinput label {
  color: gray;
}
.epicinput {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.epicinput select {
  width: 70%;
  height: 5vh;
}
.epicinput label {
  color: gray;
}
.secondcolumn {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.secondcolumn_row1
{
  /* background-color: #666; */
  display: flex;
  padding-top:4%;
  padding-left: 4%; 
  padding-bottom: 2%;
  color:gray;
}
.test_sprint
{
  
  font-size:1.5rem;
  font-weight:bold;
  padding-left: 4%; 
}
.secondcolumn_row2
{
  /* background-color:#62A7FF; */
  display: flex;
}
.secondcolumn_row3
{
    display: flex;
    /* background-color: #666; */
}
.secondcolumn_row3 select
{
  width:10%;
  margin-left:4%;
  background-color:#FAFBFC;
  margin-top:2%;
}
.secondcolumn_row4
{
  width:100%;
  display: flex;
  /* flex-direction:row; */
  /* background-color: #6AAB18; */
}
.taskbar_label
{
  font-family:sans-serif;
  font-size: .8rem;
  font-weight:bold;
  padding-left: 10%;
  color:gray;
  border-top:5%;
  
}
.secondcolumn_search
{
  background-color: #FAFBFC;
  width:10%;
  padding:1%;
  display: flex;
  margin-left:4%;
  border:1px solid gray;
  margin-top:2%;
  
}
.fasearch
{
  color:gray;
  padding-left: 70%;
}
.secondcolumn_row3_text{
  margin-left:4%;
  margin-top:3%;
  padding:1%;
  width:9%;
  background-color: #FAFBFC;
  border:0px none;
}
.statusinlongwidth {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.statusinlongwidth select {
  width: 70%;
  height: 5vh;
}
.Container {
  height: 100vh;
  width: 100%;
  background-color: white;
  float: left;
  padding: 0%;
}
.Outerdiv {
  margin-top: 50px;
  margin-left: 10px;
  height: 60vh;
  width: 20%;
  background-color: lightgray;
  float: left;
  padding-top: 10px;
  border-radius: 10px;
  border: end start radius 50px;
  border-style: solid;
}
.outerdiv.label {
  margin-left: 20px;
}
.Username {
  margin-left: 10px;
  width: 80%;
  height: 10vh;
  padding-bottom: 1px;
}
.Username input {
  width: 100%;
}
.Password {
  margin-left: 10px;
  width: 100%;
  height: 10vh;
  padding-bottom: 5px;
}
.Password input {
  width: 80%;
}

.Newuser {
  width: 80%;
  color: blue;
  height: 10vh;
  float: left;
  margin-left: 10px;
  background-color: lightgrey;
}
.Newuser:hover {
  color: blue;
}
.Login {
  width: 100%;
  height: 5vh;
  float: left;
  margin-left: 10px;
  padding-top: 10px;
}
.Login button {
  background-color: lightsteelblue;
}
.lb2 {
  float: left;
  color: gray;
  width: 35%;
  margin-left: 2%;
}

.login_container {
  background-color: rgb(17, 116, 116);
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

.login_outerdiv {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  width: 50%;
  margin: 0px 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.login_outerdiv h2 {
  color: rgb(17, 116, 116);
}
.login_element {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}
.login_element input {
  border-radius: 5px;
  padding: 8px;
  border: 1px solid rgb(17, 116, 116);
  outline-color: rgb(17, 116, 116);
}
.login_element label {
  font-size: 0.7rem;
  color: rgb(17, 116, 116);
}
.login_element_button {
  text-align: center;
  margin-top: 20px;
}
.login_element_button button {
  width: fit-content;
  background-color: rgb(17, 116, 116);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.login_element_button button:hover {
  background-color: rgb(24, 52, 52);
}
.statusin select {
  padding-right: 3px;
  float: left;
  width: 35%;
  height: 5vh;
  margin-right: 2%;
}

.statusin input {
  margin-left: 1%;
  padding-left: 5px;
  display: flex;
  float: 1% left;
  width: 32%;
  height: 4vh;
}

/*************loader************/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 8px solid rgb(17, 116, 116);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(17, 116, 116) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.errormssg {
  color: red;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.taskbars_task
{
  width:80%;
  background-color: white;
  margin-top:10%;
  border-radius:2px;
  padding-top: 2%;
  /* padding-left: 10%; */
  margin-left: 6%;
  
  
}
.taskbars_task label{
  font-family: sans-serif;
  font-size: .8rem;
}

.flag
{
  color:rgb(148, 197, 75);
}
.menu_icon_label
{
  display:inline-flex;
}
.sprint_secondcolumn_row4
{ 
  
  width:100%;
  /* background-color:#62A7FF; */
  background-color: #F4F5F7;
  display:flex ;  
  flex-direction: column;
  margin-top:2%;
  margin-left:3%;
  
border-radius: 3%;
}
.sprintcolumnrow4_top
{
   /* background-color: #6AAB18; */
   display:flex ;
   width:100%;
   margin-top:2%;
  margin-left:3%;
}
.sprintcolumnrow4_top_list_left
{
  margin:0;
  width:  80%;
  display: flex;
  background-color: white;
  display: inline-block;
  flex-direction: row;;
}
.sprintcolumnrow4_top_list_right
{
  /* background-color: pink; */
  width:20%;
  display: flex;
  flex-direction: row;
  
}
.sprintcolumnrow4_top td
{
  background-color: white;
  

}
.sprintcolumnrow4_top_main
{
  /* border:2px solid #4C9AFF; */
  width:80%;
}
.sprintcolumnrow4_sub
{
  background-color: white;
  width:150%;
  display: flex;
  flex-direction: row;
  margin-top:2%;
  border:.5px solid rgb(207, 205, 205);
}
.sprintcolumnrow4_sub_label
{
  color:grey;
  font-size: 1rem;
}
.sprintcolumnrow4_top_main_label {
  color:black;
}
.scrumboard{
  display: flex;
}
.sprintcolumnrow4_top_left
{
  display: flex;
  flex-direction: row;
  
  /* background-color: #6AAB18; */
}
.sprintcolumnrow4_top_left button{
   background-color:#E2E4E9;
   margin-left:2px;
   border:none;
  
}
.sprintcolumnrow4_top_right
{
  width:80%;
  border:2px solid #56A0FE;
  /* background-color: red; */
}
.threedots
{
  border:1px solid lightgray;
  margin-left:4px;
  /* padding:2%; */
  background-color: #E2E4E9;
}
.sprint_secondcolumn_row4_createnew
{
  display: flex;
  flex-direction: row;
  display: inline-block;
  color:gray;
  font-size: 1rem;
}
.craetenew_icon
{
  margin-left:6%;
  font-size: .6rem;
 
}
.sprintcolumnrow4_sprintlist
{
  margin-top:1%;
  margin-left:3%;
  margin-right: 1%;
  background-color:white;
  display: flex;
  flex-direction: column;
  width:90%;
  /* margin-bottom:2%; */
}
.sprintcolumnrow4_top_list
{
  width:99%;
 
  /* background-color: pink; */
}
.sprintcolumnrow4_top_list input{
  /* width:99%; */
  border : none;
}
.sprintcolumnrow4_top_list_label
{
  color:gray;
  margin-left:1%;
  font-size: .9rem;
  
}
.select_sprintlist
{
  background-color:#E2E4E9;
  margin-left:50%;
  padding:1px;
  font-size: .6rem;
  border:1px solid rgb(241, 237, 237)
}

.select_sprintlist label{
  font-size: small;
}
.user_select
{
 color:rgb(186, 184, 184);
 margin-left:3%;
}
.label_option
{
 font-size: small;
}
.testepic
{
  font-size: small;
  background-color:#EAE6FF;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top:1%;
}
.sprint_secondcolumn_row5
{
 /* background-color: #6AAB18; */
 margin-top:4%;
 margin-left:4%;
 display: flex;
 flex-direction: row;
}
.sprint_secondcolumn_row5_left
{
   width:70%;
   /* background-color: #62A7FF; */
   display:inline-block;
}
.sprint_secondcolumn_row5_left label{
  font-size: .9rem;
}
.sprint_secondcolumn_row5_right
{
  width:30%;
  display: flex;
  flex-direction: row;
  display: inline-block;
  /* background-color:#666; */
}
.sprint_secondcolumn_row5_right button
{
  /* margin-left: 30%; */
  margin-bottom: 2%;
  
}
.sprint_secondcolumn_row7
{
  font-size: 1rem;
  color:gray;
  margin-top:2%;
}
.row5_label
{
  color:grey;
  
}

.sprint_secondcolumn_row5_right
{
  font-size: small;
  
  /* background-color: rgb(219, 214, 214); */
}
.list
{
  display: flex;
  flex-direction: row;
  width:100%;
  /* margin-top:1%; */
  border:1px solid rgb(249, 247, 247);
  padding:1%;
}
.sprint_secondcolumn_row6
{
  width:100%;
  border:1px dashed grey;
  margin-top:2%;
  margin-left:4%;
  text-align: center;
  border-radius: 2%;
  padding-top:1%;
  padding-bottom: 1%;
}
.sprint_secondcolumn_row6 label{
  color:gray;
  font-size: small;
}
.green
{
  background-color: green;
}
.dot{
 
    height: 20px;
    color:white;
    width: 20px;
    background-color:green;
    border-radius: 50%;
    display: inline-block;
    border-top: 2%;;
    text-align: center;
    
    margin-right: 5%;;
}
.sprint_secondcolumn_row5_top
{
  display: flex;
  flex-direction: row;;
}
.backlog_right
{
  /* background-color: #6AAB18; */
  margin-left:60%;
  display: flex;
}
.report_secrow_left
{
  /* background-color: #56A0FE; */
  width:60%;
}
.report_secrow_right
{
  width:40%;
  /* background-color: #6AAB18; */
}
.timesheet_filters
{
  
    width:130%;
    margin-top:.7%;
    font-weight: bold;
    border-bottom:1px solid rgb(222, 218, 218);
    padding-left:3%;
    /* padding-bottom:1%; */
    display: flex;
    box-shadow: 1px 1px 1px rgb(255, 250, 250);
    font-size: .9rem;
    
  
}
.timesheet_filter_label
{
  margin-right:5%;
}
.timesheet_select
{
  margin-right:5%;
  margin-bottom: 1%;
}
.timesheet_users_label
{
  margin-right:1%;
}
            
/* .date_fromdate
{
  
  display: flex;
  flex-direction: row;
} */
.date
{
  display: flex;
  flex-direction: row;
  margin-right:4%;
}
.date label{
  width:41%;
  /* color:red; */
}
.timesheet_row3{
  
  width:110%;
  /* background-color: #56A0FE; */
  /* margin-top:2%; */
  margin-left: 4%;
 
  
}
.timesheet_row3 th{
  font-size:1rem;
  
}
.timesheet_task 
{
  border-right:10%;
}
.timesheet_actual
{
  padding-right:10%;
}
#report tr:nth-child(even){background-color: #dfecfa;}

.mainheading
{
  background-color: #62A7FF;
}
.badge
{
  color:green;
 
}
.mainheading th,td{
  /* font-size: small; */
  font-weight: lighter;
}
